.logo {
  height: 50px;
  width: auto;
}

.logoleft {
  float: left;
  display: flex;
  width: 13%;
  justify-content: space-between;
  margin-left: 17%
}

.logoright {
  float: right;
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin-right: 17%;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: 75px;
  background-color: white;
  z-index: 1;
}

.searchbar {
  align-self: center;
  justify-content: center;
}

input {
  text-align: center;
  width: 200px;
  height: 25px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 75px;
  height: 100%;
  width: 66%;
  margin: auto;
  overflow: auto;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images>img {
  width: 30%;
  height: 100%;
  margin-bottom: 5%;
}

.profilepic {
  float: left;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-right: 20px;
}

body {
  background-color: lightblue;
}

.top {
  margin-bottom: 5%;
}

@media screen and (max-width: 964px) {
  .searchbar {
    display: none;
  }
  .container {
    width: 95%;
  }
  .profilepic {
    height: 75px;
    width: 75px;
  }
  .logoleft {
    margin-left: -1%;
  }
}
