.logo {
  height: 50px;
  width: auto;
}

.logoleft {
  float: left;
  display: flex;
  width: 13%;
  justify-content: space-between;
  margin-left: 17%
}

.logoright {
  float: right;
  display: flex;
  width: 10%;
  justify-content: space-between;
  margin-right: 17%
}

.navbar {
  display: flex;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  width: 100%;
  margin: auto;
  height: 75px;
  overflow: auto;
  background-color: white;
  z-index: 1;
}

.searchbar {
  align-self: center;
  justify-content: center;
}

input {
  text-align: center;
  width: 200px;
  height: 25px;
}

.container {
  position: relative;
  top: 75px;
  height: 100%;
  display: flex;
  width: 66%;
  margin: auto;
  overflow: auto;
  justify-content: space-between;
}

.leftcol, .rightcol {
  display: flex;
  flex-direction: column;
}

.leftcol {
  align-content: flex-start;
  width: 70%;
}

.rightcol {
  position: fixed;
  right: 18%;
  align-content: flex-end;
  width: 17%;
  height: 100%;
}

.stories, .suggestions, .post {
  border: 2px solid black;
  margin-bottom: 40px;
}

.user, .stories, .suggestions {
  position:
}

@media screen and (max-width: 964px) {
  .rightcol,
  .searchbar {
    display: none;
  }
  .leftcol {
    width: 100%;
  }
}
