$space: space-between;
$flex: flex;

@import "mixins";

.logo {
  // height: 50px;
  // width: auto;
  @include position(50px, auto)
}

.logoleft {
  float: left;
  @include justify-space;
  width: 13%;
  margin-left: 17%
}
main{
  color:rgba(255, 255, 0, .8);
}
.logoright {
  float: right;
  @include justify-space;
  width: 10%;
  margin-right: 17%
}

.navbar {
  @include justify-space;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  // height: 75px;
  // width: 100%;
  overflow: auto;
  background-color: white;
  z-index: 1;
  @include position(75px,100%)
}

.searchbar {
  align-self: center;
  justify-content: center;
}

input {
  text-align: center;
  width: 200px;
  height: 25px;
}

.container {
  position: relative;
  top: 75px;
  height: 100%;
  @include justify-space;
  width: 66%;
  margin: auto;
  overflow: auto;
}

.leftcol, .rightcol {
  display: $flex;
  flex-direction: column;
}

.leftcol {
  align-content: flex-start;
  width: 70%;
}

.rightcol {
  position: fixed;
  right: 18%;
  align-content: flex-end;
  width: 17%;
  height: 100%;
}

.stories, .suggestions, .post {
  border: 2px solid black;
  margin-bottom: 40px;
}

@media screen and (max-width: 964px) {
  .searchbar {
    display: none;
  }
  #paragraph-clear {
    overflow: auto;
  }
  .rightcol {
    display: none;
  }
  .leftcol {
    width: 95%;
  }
}
